.box-layout {
  align-items: center;
  background: url('/images/background.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: fade-out(white, .15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}

.box-layout__button {
  height: 3.5rem;
  width: 12rem;
}

.box-layout__button1 {
  float: right;
  margin: 0 auto;
  display: flex;
   flex-direction: row;
   justify-content: space-between;
}
